body{
    background-color: hsl(360, 0%, 96%);
}


#input_text{
    width: 400px;
    height: 300px;
}

#input{

}

#output{

}

.main{
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
}

.result_item{
    border-bottom: 1px solid hsl(360, 0%, 90%);
}