{% include "header.html" %}

<div class="main">
<div class="header">
  <h1>Word Counter</h1>
</div>
  <div class="input_area">
<form method="post">
  <div id="input">
    <textarea name="text" id="input_text" cols="100"></textarea>
    <br>
    <input type="submit">
  </div>
  </form>
    </div>
  <div id="output">
    <h3>Result</h3>
    <table>
  {% for k, v in result.items(): %}
      {% if v > 2:%}
      <tr><td>{{k}}</td> <td>{{v}}</td></tr>
      {% endif %}
    {% endfor%}
  </table>
  </div>
  <div class="footer">

  </div>
</div><!-- end .main -->
{% include "footer.html" %}



